.bouton {
  background-color: blue;
  color: white;
  padding: 0.5em;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgb(128, 0, 255);
  }
}

.liste-categories {
  .categorie {
    display: flex;

    &:nth-child(1) .en-tete {
      background-color: red;
    }
    &:nth-child(2) .en-tete {
      background-color: rgb(255, 128, 0);
    }
    &:nth-child(3) .en-tete {
      background-color: rgb(212, 255, 0);
    }
    &:nth-child(4) .en-tete {
      background-color: rgb(51, 255, 0);
    }
    &:nth-child(5) .en-tete {
      background-color: rgb(0, 255, 217);
    }
    &:nth-child(6) .en-tete {
      background-color: rgb(0, 34, 255);
    }

    .en-tete {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      background-color: rgb(255, 0, 247);
    }

    .en-tete,
    img {
      width: 100px;
      height: 100px;
    }

    img {
      object-fit: cover;
    }

    .images {
      display: flex;

      .image {
        position: relative;

        &:hover .bouton {
          opacity: 1;
        }

        .bouton {
          opacity: 0;
          transition: opacity 0.5s;
          position: absolute;
          right: 5px;
          padding: 0;
          height: 20px;
          width: 20px;
          text-align: center;
          line-height: 17px;

          &.bouton-plus {
            top: 5px;
          }

          &.bouton-moins {
            bottom: 5px;
          }

          &.bouton-supprime {
            left: 5px;
            bottom: 5px;
            background-color: red;

            &:hover {
              background-color: rgb(160, 0, 0);
            }

          }
        }
      }
    }
  }
}
